body {
      font-family: Arial, sans-serif;
      background: #535151;
      margin: 0;
      padding: 0;
    }

    .container {
      padding: 35px;
      background: #b0aaaa;
    }

    h2, h3 {
      text-align: center;
    }

    input, button, select {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #dbc234;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border: none;
    }

    button:hover {
      background-color: #2980b9;
    }

    .hidden {
      display: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    th, td {
      padding: 8px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f8f8f8;
    }

    .task-list {
      background-color: #fdfdfd;
      border: 1px solid #ccc;
      margin-top: 10px;
      padding: 25px;
      border-radius: 1px;
    }

    .logout-btn {
      background-color: #e74c3c;
    }